**/.settings/
**/bin/
*.class

db.properties

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse-Settings
org.eclipse.jdt.core.prefs

# Temporäre Dateien
~*
*bak*
thumbs.db
Thumbs.db
.DS_Store
